<a href="https://colab.research.google.com/github/rana6-12/-lab1-ITI/blob/main/practice_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**# Step 1: Mount Google Drive**

In [1]:

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**# Step 2: Import pandas & Numpy**

In [3]:
import pandas as pd
import numpy as np

In [12]:
file_path = ('/content/drive/MyDrive/New folder/Purchase_Data.csv')
df = pd.read_csv(file_path)

In [13]:
print("CSV file loaded successfully! Here are the first few rows:")
print(df.head())

CSV file loaded successfully! Here are the first few rows:
   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401       1.0
4    2.020000e+11  7/15/15 12:16     G816     7090363        70401       1.0

   price
0    2.0
1    2.0
2    2.0
3    6.0
4    6.0

In [14]:
file_path = ('/content/drive/MyDrive/New folder/Titanic.csv')
df = pd.read_csv(file_path)

In [15]:
print("CSV file loaded successfully! Here are the first few rows:")
print(df.head())

CSV file loaded successfully! Here are the first few rows:
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

**Part 1**

****

Use the dtypes attribute to view how each column is stored

In [16]:
print(df.dtypes)

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

****

Slice the first two columns using .loc and store the result in a variable called result_1.

In [17]:

result_1 = df.loc[:, df.columns[0:2]]

print(result_1)

     PassengerId  Pclass
0            892       3
1            893       3
2            894       2
3            895       3
4            896       3
..           ...     ...
413         1305       3
414         1306       1
415         1307       3
416         1308       3
417         1309       3

[418 rows x 2 columns]

****

Slice the first two rows using .loc and store the result in a variable called result_2.

In [18]:
result_2 = df.loc[0:1, :]   # من الصف 0 لحد الصف 1 (أول صفين)
print(result_2)

   PassengerId  Pclass                              Name     Sex   Age  SibSp  \
0          892       3                  Kelly, Mr. James    male  34.5      0
1          893       3  Wilkes, Mrs. James (Ellen Needs)  female  47.0      1

   Parch  Ticket    Fare Cabin Embarked
0      0  330911  7.8292   NaN        Q
1      0  363272  7.0000   NaN        S

****

Slice the first four rows and the first five columns and store the result in a variable called result_3.

In [19]:
result_3 = df.loc[0:3, df.columns[0:5]]
print(result_3)

   PassengerId  Pclass                              Name     Sex   Age
0          892       3                  Kelly, Mr. James    male  34.5
1          893       3  Wilkes, Mrs. James (Ellen Needs)  female  47.0
2          894       2         Myles, Mr. Thomas Francis    male  62.0
3          895       3                  Wirz, Mr. Albert    male  27.0

Slice rows 0,4,6 and columns invoice time and price and store the result in variable called result_4.

In [21]:
result_4 = df.loc[[0, 4, 6], ['Name', 'Age']]
print(result_4)

                                           Name   Age
0                              Kelly, Mr. James  34.5
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0
6                          Connolly, Miss. Kate  30.0

****

Store the number rows in a variable called num_rows.

In [22]:
num_rows = len(df)
print(num_rows)

418

****

Print out the last row of the data to dataframe. **Hint:** use the variable num_rows from the previous exercise.

In [23]:
last_row = df.loc[num_rows - 1, :]
print(last_row)

PassengerId                        1309
Pclass                                3
Name           Peter, Master. Michael J
Sex                                male
Age                                 NaN
SibSp                                 1
Parch                                 1
Ticket                             2668
Fare                            22.3583
Cabin                               NaN
Embarked                              C
Name: 417, dtype: object

**Part 2**

****

Compute the average and max price charged.  Store the results in variables called avg_price and max_price

In [25]:
avg_price = df['Fare'].mean()   # المتوسط
max_price = df['Fare'].max()    # أكبر قيمة

print("Average Fare:", avg_price)
print("Max Fare:", max_price)

Average Fare: 35.627188489208635
Max Fare: 512.3292

****

Compute the average price and average number of items purchased with only a single call to the mean() method. Store these averages in avg_price and avg_num_items.

In [27]:
averages = df[['Fare', 'SibSp', 'Parch']].mean()

avg_fare = averages['Fare']
avg_sibsp = averages['SibSp']
avg_parch = averages['Parch']

print("Average Fare:", avg_fare)
print("Average number of siblings/spouses:", avg_sibsp)
print("Average number of parents/children:", avg_parch)

Average Fare: 35.627188489208635
Average number of siblings/spouses: 0.4473684210526316
Average number of parents/children: 0.3923444976076555