<a href="https://colab.research.google.com/github/rana6-12/-lab1-ITI/blob/main/Session1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Q1**

In [ ]:
# Q1
# Create variables
num1 = 3
num2 = 4
num3 = 5

# a
print("a) num1 + num2 =", num1, "+", num2, "=", num1 + num2)

# b
print("b) num3 - num1 =", num3, "-", num1, "=", num3 - num1)

# c
print("c) num1 * num2 + num3 =", num1, "*", num2, "+", num3, "=", num1 * num2 + num3)

# d
print("d) num1 * (num2 + num3) =", num1, "*", "(", num2, "+", num3, ")", "=", num1 * (num2 + num3))

# e
print("e) num3 / num1 =", num3, "/", num1, "=", num3 / num1)

# f
print("f) num3 // num1 =", num3, "//", num1, "=", num3 // num1)

# g
print("g) num3 % num1 =", num3, "%", num1, "=", num3 % num1)

# h) Convert to float and repeat
num1 = float(num1)
num2 = float(num2)
num3 = float(num3)

print("\n-- Repeating with float values --")
print("a) num1 + num2 =", num1 + num2)
print("b) num3 - num1 =", num3 - num1)
print("c) num1 * num2 + num3 =", num1 * num2 + num3)
print("d) num1 * (num2 + num3) =", num1 * (num2 + num3))
print("e) num3 / num1 =", num3 / num1)
print("f) num3 // num1 =", num3 // num1)
print("g) num3 % num1 =", num3 % num1)

a) num1 + num2 = 3 + 4 = 7
b) num3 - num1 = 5 - 3 = 2
c) num1 * num2 + num3 = 3 * 4 + 5 = 17
d) num1 * (num2 + num3) = 3 * ( 4 + 5 ) = 27
e) num3 / num1 = 5 / 3 = 1.6666666666666667
f) num3 // num1 = 5 // 3 = 1
g) num3 % num1 = 5 % 3 = 2

-- Repeating with float values --
a) num1 + num2 = 7.0
b) num3 - num1 = 2.0
c) num1 * num2 + num3 = 17.0
d) num1 * (num2 + num3) = 27.0
e) num3 / num1 = 1.6666666666666667
f) num3 // num1 = 1.0
g) num3 % num1 = 2.0

**Q2**

In [ ]:
# Q2
x = 1
y = 2
z = 3
g = 4

# a
print("\nQ2 a) x + y * z / g =", x, "+", y, "*", z, "/", g, "=", x + y * z / g)

# b
print("Q2 b) y ** z =", y, "**", z, "=", y ** z)

Q2 a) x + y * z / g = 1 + 2 * 3 / 4 = 2.5
Q2 b) y ** z = 2 ** 3 = 8

**Q3**

In [ ]:
# Q3
# إنشاء المتغيرات
str_a = "Python"
str_b = "is a"
str_c = "times fun language"
num = 1000

str_ab = str_a + " " + str_b + " " + str(num) + " " + str_c
print("a) str_ab =", str_ab)

# b) تكرار str_a عشر مرات وتخزينه في str_a10
str_a10 = str_a * 10
print("b) str_a10 =", str_a10)

a) str_ab = Python is a 1000 times fun language
b) str_a10 = PythonPythonPythonPythonPythonPythonPythonPythonPythonPython

#**Odd** or **Even**

In [ ]:
# Ask the user for a number
num = int(input("Enter a number: "))

# Check if the number is even or odd
if num % 2 == 0:
    print(num, "is Even")
else:
    print(num, "is Odd")

Enter a number: 2
2 is Even

#**Pass** or **Fail**

In [ ]:
# Ask the user for the score
score = float(input("Enter the student's score (0-100): "))

# Check if the score is Pass or Fail
if score >= 50:
    print("Pass")
else:
    print("Fail")

Enter the student's score (0-100): 80
Pass

#**Largest  Number**

In [ ]:
# Take 3 numbers as input
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

# Find the largest number
if num1 >= num2 and num1 >= num3:
    largest = num1
elif num2 >= num1 and num2 >= num3:
    largest = num2
else:
    largest = num3

# Print the result
print("The largest number is:", largest)

Enter first number: 2
Enter second number: 10
Enter third number: 8
The largest number is: 10.0

#**Counting** **with** **for**

In [ ]:
# Print numbers from 1 to 10
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

#**Grade** **Calculator**

In [ ]:
# Ask the user for the score
score = float(input("Enter the score (0-100): "))

# Determine the grade
if 90 <= score <= 100:
    grade = "A"
elif 80 <= score <= 89:
    grade = "B"
elif 70 <= score <= 79:
    grade = "C"
elif 60 <= score <= 69:
    grade = "D"
elif 0 <= score < 60:
    grade = "F"
else:
    grade = "Invalid score"

# Print the grade
print("Grade:", grade)

Enter the score (0-100): 60
Grade: D

#**Multiplication** **Table**

In [ ]:
# Ask the user for a number
num = int(input("Enter a number: "))

# Print multiplication table
print(f"\nMultiplication Table for {num}:")
for i in range(1, 11):
    result = num * i
    print(f"{num} x {i} = {result}")

Enter a number: 2

Multiplication Table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

#**Sum** **of** **Even** **Numbers**

In [ ]:
# Initialize sum
total = 0

# Loop through numbers from 1 to 50
for num in range(1, 51):
    if num % 2 == 0:
        total += num

# Print the result
print("Sum of even numbers between 1 and 50 is:", total)

Sum of even numbers between 1 and 50 is: 650

#**Factorial** **with** **while**

In [ ]:
# Ask the user for a number
num = int(input("Enter a number: "))

# Initialize variables
factorial = 1
count = 1

# Calculate factorial using while loop
while count <= num:
    factorial *= count
    count += 1

# Print the result
print(f"Factorial of {num} is {factorial}")

Enter a number: 3
Factorial of 3 is 6